@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: "Ubuntu", sans-serif;
}

header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(227, 226, 251, 0.863) ,#726cede0), url(../images/f9fad17ce2f232a4e5ef2e5d91a1bdcc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: normal;
}
nav{
    background: transparent;
}
.nav-item a{
    font-family: "Ubuntu", sans-serif;
    color: #fff !important;
    font-size: medium;
    font-weight: bold;
}
.left-heading h1{
    font-family: "Ubuntu", sans-serif;
    /* font-size: 74px; */
    font-weight: 700;
}
.left-heading p{
    font-family: "Ubuntu", sans-serif;
    /* font-size: 84px !important; */
    color: #726cede0;
    font-weight: 700;
}
/* .customHero{
    background-color: blue;
} */
.play{
    color: #736CED;
}
.pbtn{
    background: #fff;
    border-radius: 10px;
    text-align: center;
    color: #736CED;
    font-family: "Ubuntu", sans-serif;
    font-size: large;
    padding: 7px 20px;
    border: 0.1px solid rgb(160,160,255);
}

.cbtn{
    margin-left: 10px;
    background: #736CED !important;
    border-radius: 10px;
    text-align: center;
    color: #fff !important;
    font-family: "Ubuntu", sans-serif;
    font-size: large;
    padding: 7px 20px;
    border: 0.1px solid rgb(160,160,255);
}

.topsection h2{
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    color: #5A5781;
}
.card{
    background-color: #faf3fc;
    border: none !important;
}
.seebtn{
    border: 1px solid #736CED;
    background-color: #736CED;
    border-radius: 5px;
    padding: 10px 30px;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.featureheading{
    font-family: "Ubuntu", sans-serif;
    font-size: large;
    font-weight: bolder;
    color: #5A5781;
}

.features{
    background-color: #f4f8f8;
}
.feature{
    background-color: #fff;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.feature:hover{
    border: 1px solid #736CED;
}

.feature p{
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    color: #5A5781;
}

footer{
    background-image: linear-gradient(to right, rgba(241, 241, 245, 0.863) ,#ffffff,rgba(241, 241, 245, 0.863)), url(/assets/images/horizontal-banner-hands-people-s.png);
    height: 780px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: normal;
}
.last p{
    /* background: transparent; */
    line-height: 35px;
}