@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/assets/images/Group\ 10.png);
    background-position: left -40% top -10%;
    background-repeat: no-repeat;
}

section {
    margin: 50px auto;
    height: 100vh;
    width: 25% !important;
    display: flex;
    flex-direction: column;
}

.login-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-heading h1 {
    color: #5A5781;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 0;
}

.login-heading p {
    color: #5A5781;
    font-weight: 600;
}

.login-form {
    display: flex;
    flex-direction: column;
}

input {
    font-family: FontAwesome;
    background-color: #E3E2FB !important;
    height: 30px !important;
    border: none !important;
    margin-bottom: 10px !important;
    margin-top: 20px !important;
    padding: 15px !important;
    border-radius: 8px !important;
    font-size: 20px !important;
}

svg {
    height: 30px;
    width: 30px;
}

.social-link {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 100%;
    background-color: #736CED;
    color: white;
}